/* Page d'acceuille en mobile first------------------------------------------------ */

/* Sections de la page home */
.home-page section {
    padding: 60px 20px;
    text-align: center;
}

/* Section Héros -------------------------*/
.hero {
    background-image: url('/asset/img/motiVimageAceuille.webp');
    background-size: cover;
    background-position: center;
    color: var(--color-white);
    position: relative;
}

.hero::after {
    content: '';
    /* Overlay avec --color-secondary */
    background-color: rgba(14, 45, 62, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* bouttons ---------------------------------------- */
.cta-button {
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-decoration: none;

}

.cta-button:hover {
    background-color: #e07935;
}

/* Boutons sous le caroussel */
.cta-button-rewards,
.cta-button-mission {
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 33px;
}

/* section about --------------------------------------  */
.about {
    background-color: var(--color-grey);
}

.about h2 {
    color: var(--color-secondary);
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;
}

/* section etapes pour commencer  ---------------------- */
.steps {
    background-color: var(--color-white);
}

.steps h2 {
    color: var(--color-secondary);
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step {
    background-color: var(--color-verdigris);
    color: var(--color-white);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
}

.step i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.step h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.step p {
    font-size: 1rem;
}

/* Carrousels ------------------------------------ */
/* Conteneur général du carrousel */
.carousel-container {
    position: relative;
    overflow: hidden;
    padding: 0 20px;
    padding-top: 20px;
    /* overflow: visible; */
}

.carousel {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    /* flex-wrap: nowrap; */
    /* overflow: hidden; */
}

/* Item du carrousel */
.carousel-item {
    background-color: var(--color-white);
    color: var(--color-secondary);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 250px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    margin: 0 15px;
    /* min-width: 100%; */
    box-sizing: border-box;
}

/* Image des récompenses */
.carousel-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

/* titre et description */
.carousel-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--color-secondary);
}

.carousel-item p {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* effet au survol sur desktop */
.carousel-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Carrousel des Récompenses */
.rewards {
    background-color: var(--color-secondary);
    /* Fond bleu foncé */
    padding: 40px 0;
    color: var(--color-white);
}

.rewards h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--color-white);
}

.paragraph-explore-reward,
.paragraph-explore-mission {
    font-size: 25px;
}


/* section témoignage ------------------------------ */
.testimonials {
    background-color: var(--color-grey);
}

.testimonials h2 {
    color: var(--color-secondary);
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial {
    background-color: var(--color-white);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 600px;
}

.testimonial p {
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial h4 {
    font-weight: normal;
    color: var(--color-secondary);
}

/* section partenaires ---------------------------------*/
.partners {
    background-color: var(--color-white);
}

.partners h2 {
    color: var(--color-secondary);
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.partners-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    /*ca masque la partie en dehors du contenu*/
    overflow: hidden;
    align-items: center;
}

.partners-container img {
    max-width: 150px;
    margin: 10px;
}

/* partenaires avec défilement continu -------------------*/
.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
}

.scroll-content {
    display: inline-flex;
    flex-shrink: 0;
    animation: scrollLeft 60s linear infinite;
}

.partners-container img {
    max-width: 150px;
    margin: 0 20px;
}

.scroll-content img {
    max-width: 150px;
    margin: 0 20px;
    flex-shrink: 0;
}

/* Animation CSS pour le défilement continu */
@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/*  section appel à l'Action  ----------------------------*/
.call-to-action {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 60px 20px;
    margin-bottom: -36px;
}

.call-to-action h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* Scroll Reveal ---------------------------------------- */
.scroll-reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.scroll-reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive Design  */

/* mobile --------------------------------------------mobile------------------------------------*/
@media (max-width: 768px) {

    /* masque les boutons sur mobile */
    .carousel-btn {
        display: none;
    }


}

/* Tablette ------------------------------------------Tablette----------------------------------- */
@media (min-width: 768px) {
    .steps-container {
        flex-direction: row;
        justify-content: center;
    }

    .step {
        margin: 0 10px;
    }

    .carousel-item {
        width: 300px;
        /* width: 100%;  */
    }
}


/* Desktop --------------------------------------------Desktop------------------------------------ */
@media (min-width: 1024px) {
    .hero h2 {
        font-size: 3rem;
    }

    .hero p {
        font-size: 1.5rem;
    }

    .steps h2,
    .about h2,
    .missions h2,
    .rewards h2,
    .testimonials h2,
    .partners h2,
    .call-to-action h2 {
        font-size: 2.2rem;
    }

    /* caroussel sur desktop ---------------------------------*/
    .carousel-item img {
        height: 230px;
    }

    .carousel-item {
        width: 300px;
        height: 400px;
        margin-bottom: 20px;
    }

    .carousel-item:hover {
        transform: translateY(-15px);
        box-shadow: 0 10px 20px var(--color-verdigris);
        /* z-index: 10; */
    }

    .carousel-item span {
        font-weight: 700;
    }

    /* Flèches de navigation */
    .carousel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--color-primary);
        color: var(--color-white);
        border: none;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 3;
        width: 3.25rem;
        height: 3.25rem;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .carousel-btn:hover {
        background-color: #e07935;
        /* agrandi légèrement */
        transform: translateY(-50%) scale(1.1);
    }

    .carousel-btn.prev {
        left: 10px;
    }

    .carousel-btn.next {
        right: 10px;
    }

    .carousel-btn i {
        font-size: 1.2rem;
    }

    .cta-button-rewards:hover,
    .cta-button-mission:hover {
        background-color: #e07935;
    }
}