@import url(./header.css);
@import url(./home.css);
@import url(./modal.css);
@import url(./message.css);
@import url(./reward.css);
@import url(./mission.css);
@import url(./comment.css);
@import url(./login-register.css);
@import url(./young-profile.css);
@import url(./association-display.css);
@import url(./admin-profil.css);
@import url(./footer.css);
@import url(./cart.css);
@import url(./details-reward.css);
@import url(./details-mission.css);
@import url(./myUniqueCode.css);

/* Importation des polices et des icone */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/* variable CSS */
:root {
    --color-primary: #f78a3c;
    --color-secondary: #0e2d3e;
    --color-platinium: #e1e1de;
    --color-verdigris: #04b8c4;
    --color-lightBlue: #aac9cb;
    --color-grey: #f5f5f5;
    --color-white: #ffffff;
    --font-family: 'Poppins', sans-serif;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.2rem;
    --font-size-small: 0.8rem;
    --transition-speed: 0.3s;
}

@font-face {
    font-family: 'Blanka';
    src: url('/asset/font/Blanka.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Style général pour tout le site */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}